<div class="ui secondary menu" id="footer">

    <div class="right menu">
        <a class="item">
            <i class=" purple info icon"></i>关于我想去
        </a>
        <a class="item">
            <i class=" purple help icon"></i>使用帮助
        </a>
        <a class=" item">
            <i class="purple mail icon"></i>联系我们
        </a>
        <a class=" item">
            <i class="red weibo icon"></i>微博
        </a>
        <a class=" item">
            <i class=" github icon"></i>GitHub
        </a>
    </div>
</div>