<div class="ui icon message">
    <i class="inbox icon"></i>
    <div class="content">
        <div class="header">
            Have you heard about our mailing list?
        </div>
        <p>Get all the best inventions in your e-mail every day. Sign up now!</p>
    </div>
</div>