<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>我想去-{{title}}</title>
    {{>css}}
    {{{block "ownCSS"}}}
</head>
<body>
<div class="ui grid" id="main">
    <div class="sixteen wide column">
        {{>menu}}
        {{{body}}}
    </div>
</div>
{{>footer}}
{{>js}}
{{{block "ownJS"}}}
</body>
</html>
